@{
    ViewBag.Title = "title";
}
<div align="center">
<h2>Add item</h2>
<form method="post">
    <div style="display: flex; flex-direction: column; width: 200px">
        <div>Name</div>
        <input type="text" name="name"/>
        <div>Room number</div>
        <input type="text" name="roomnumber"/>
        <div>Quantity</div>
        <input type="text" name="quantity"/>
        <input type="submit" value="Add item"/>
    </div>
</form>
</div>