@model List<Item>
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<body>
<div style="display: grid; grid-template-columns: 1fr 1fr">
      @foreach (var item in Model)
      {
          <div>
              <a href="/Home/Delete?id=@item.Id">Delete</a>
              <div>@item.Name Quantity: @item.Quantity</div> <a href="/Home/Edit?id=@item.Id">Edit</a>
              <div><img src="@item.Picture"/></div>
          </div>
      }
</div>
</body>
</html>